body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#title1 {
   
    color: blue;
}
#title2 {

    
    color: rgb(23, 125, 0);
}

#nus {
    color: rgb(46, 0, 89);
    font-size: 20px;
}
h2 {
    
    color: black;                            
    

}

